<template>
    <tr>
        <td class="colIcon" v-if="folder.fixed == 1">&nbsp;</td>
        <td class="colIcon" v-else>
            <div class="icon-delete" @click="deleteFolder"></div>
        </td>
        <td v-if="folder.fixed" class="colName" title="Feste Einstellungen">{{ folder.name }}</td>
        <td v-else class="colName" >{{ folder.name }}</td>
        <td class="colGroup">
            <multi-select
                :options="newGroupOptions"
                :selected-options="selectedOptions"
                :is-disabled-offline="folder.fixed == 1"
                placeholder="Keine Gruppen zugeteilt"
                @select="onSelect"
            />
        </td>
        <td class="rightalign">{{ folder.quotaStr }}</td>
        <br>
    </tr>
</template>

<style>
input.search {
    min-height: 1em;
}
i.icon.delete::before {
	content: "\2718";
}
i.icon.dropdown {
    display: none;
}
td.rightalign {
    text-align: right;
}
.folderlist td.colName {
    padding-right: 10px;
}
th.colGroup {
    width: 100%;
}
td.colGroup {
    padding: 5px 0px;
}
</style>

<script lang="ts">
import axios from 'nextcloud-axios';
import { ModelListSelect, MultiSelect } from 'vue-search-select';

export default {
    name: 'folderdetails',
    components: {
        ModelListSelect,
        MultiSelect,
    },
    props: {
        folder: Object,
        api: String,
        orga: String,
    },
    created() {
        for (const key of Object.keys(this.folder.perm)) {
            if (this.folder.perm[key].perm == 1) {
                this.selectedOptions.push( { 'value': this.folder.perm[key].name, 'text': this.folder.perm[key].name  + ' (ro)'} )
            } else if (this.folder.perm[key].perm == 31) {
                this.selectedOptions.push( { 'value': this.folder.perm[key].name, 'text': this.folder.perm[key].name  + ' (rw)'} )
            } else {
                this.selectedOptions.push( { 'value': this.folder.perm[key].name, 'text': this.folder.perm[key].name  + ' (div)'} )
            }
        }

        if (this.folder.quota < (1024*1024*1024)) {
            this.folder.quotaStr = Math.round(this.folder.quota / 1024 / 1024) + ' MB';
        } else {
            this.folder.quotaStr = Math.round(this.folder.quota / 1024 / 1024 / 1024) + ' GB';
        }

        let api = '/apps/hiorglogin/settings/groups/';
        let result = [];

        axios.get(api, {
                params: {
                    orga: this.orga,
                }

            })
            .then(response => {
                    this.newGroupOptions = response.data.map( ( {name } ) => ({ 'value': name, 'text': name }) )
                    }
                )
            .catch(error => { this.showError(error); })
    },
    data: function() {
        return {
            newGroupOptions: [],
            /** @type {Array<{ value: string, text: string }>} */
            selectedOptions: [],
        }
    },
    methods: {
        showMessage (msg) {
            OC.Notification.showTemporary('<div style="font-weight:bold;color:red">' + msg + '<div>', { isHTML: true });
        },
        onSelect (items, lastSelectItem) {
            let request;
            let lastValue = lastSelectItem.value;
            let otherOptions;

            // Check for fixed
            let obj = this.folder.perm.find( el => el.name == lastValue);
            if (obj && obj.fixed == true) {
                this.showMessage('Feste Gruppen können nicht entfernt werden!');
                return false;
            }


            // Add or delete?
            let found = 0;
            items.map( ( {value} ) => { found += ( value == lastValue) } );

            if (found == 0) {
                request = {
                    url: this.api + '/' + lastValue,
                    method: 'DELETE',
                    data: [],
                }
            } else {
                request = {
                    url: this.api,
                    method: 'POST',
                    data: {
                        newGroup: lastValue,
                        mode: 'ro',
                    },
                }
            }

            axios.request(request)
            .then(response => {
                    this.selectedOptions = [];
                    this.folder.perm = response.data.perm;
                    for (const key of Object.keys(this.folder.perm)) {
                        if (this.folder.perm[key].perm == 1) {
                            this.selectedOptions.push( { 'value': this.folder.perm[key].name, 'text': this.folder.perm[key].name  + ' (ro)'} )
                        } else if (this.folder.perm[key].perm == 31) {
                            this.selectedOptions.push( { 'value': this.folder.perm[key].name, 'text': this.folder.perm[key].name  + ' (rw)'} )
                        } else {
                            this.selectedOptions.push( { 'value': this.folder.perm[key].name, 'text': this.folder.perm[key].name  + ' (div)'} )
                        }
                    }
                }
            )
            .catch(error => { this.showError(error); })
        },
        deleteFolder: function() {
                // Let parent do the job
                this.$emit('deleteFolder', this.$vnode.key);
        },
        showError: function(error) {
            this.$emit('showError', error)
        }
    }
}
</script>
