<template>
    <div>
        <h3>Gemeinsame Ordner</h3>
        <div class="newfolder">
            <form v-on:submit.prevent="addFolder">
                Neuen Ordner anlegen:&nbsp;
                {{ orga }}-<input placeholder="Ordnername" v-model="newFolderPostfix" @keyup="checkInput">
            </form>
        </div>
        <table class="folderlist">
            <thead>
                <tr class="header">
                    <th class="colIcon">&nbsp;</th>
                    <th class="colName">Ordnername</th>
                    <th class="colGroup">Gruppen</th>
                    <th class="colQuota">Quota</th>
                </tr>
            </thead>
            <tbody>
                <folderdetails v-for="(folder, index) in folders" :key="index" :folder="folder" :api="api + '/' + folder.name" :orga="orga" v-on:deleteFolder="deleteFolder" v-on:showError="showError"></folderdetails>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<style>
.folderlist div.newgroup {
    margin: 0px 0px;
}
.folderlist .remove:before {
    content: '\2718';
}

.folderlist .border {
    border: solid 0.5px grey;
    border-radius: 5px;
    margin: 4px 2px 4px 2px;
    padding: 2px;
}

.folderlist th {
    border-bottom: solid 0.5px lightgray;
    font-weight: bold;
    color: gray;
}
.folderlist tfoot td {
    border-top: solid 0.5px lightgray;
}
.folderlist .colIcon {
	padding: 10px 5px 10px 5px;
}
.folderlist .colName {
	padding: 10px 5px 10px 5px;
}
.folderlist .colGroupRw, .folderlist .colGroupRo {
	padding: 10px 5px 10px 5px;
    width: 50%;
}
</style>

<script>
import axios from 'nextcloud-axios';
import folderdetails from './folderdetails.vue';

export default {
    name: 'folderlist',
    components: {
        folderdetails
    },
    props: {
        orga: String,
        api: String
    },
    data: function() {
        return {
            folders: [],
            link: '',
            newFolderPostfix: '',
            error: '',
        }
    },
    created() {
	// Fetch List of folders
	axios.get(this.api)
	    .then(response => (this.folders = response.data))
	    .catch(error => { this.showError(error); })
    },
    methods: {
        checkInput: function() {
            if (this.newFolderPostfix.trim() == '') {
                this.error = '';
            } else if (!this.newFolderPostfix.match(/^[a-z]+$/)) {
                this.error = 'Es sind nur Kleinbuchstaben erlaubt!';
            } else {
                this.error = '';
            }
        },
        addFolder: function() {
            // Check validity
            if (this.newFolderPostfix.trim() == '') {
                return;
            } else if (!this.newFolderPostfix.match(/^[a-z]+$/)) {
                return;
            }

            // Write to API
            axios.post(this.api, {
                    suffix: this.newFolderPostfix
                    })
                .then(response => {
                    // Add new folder to list
                    this.folders.push( response.data );
                    })
                .catch(error => { this.showError(error); })

            // Clear input field
            this.newFolderPostfix = '';
        },
        deleteFolder: function(id) {
            let api = this.api + '/' + this.folders[id].name

            axios.delete(api)
                .then(response => {
                    // Remove folder from list
                    this.folders.splice(id, 1);
                    })
                .catch(error => { this.showError(error); })
        },
        showError: function(error) {
            this.$emit('showError', error)
        }
    }
}
</script>
