<template>
    <div>
        <h3>Gruppen</h3>
        <div class="newgroup">
            <form v-on:submit.prevent="addGroup">
                Neue Gruppe anlegen:&nbsp;
                {{ orga }}-<input placeholder="Gruppenname" v-model="newGroupPostfix" @keyup="checkInput">
            </form>
        </div>
        <table class="grouplist">
            <thead>
                <tr class="header">
                    <th class="colIcon">&nbsp;</th>
                    <th class="colName">Gruppenname</th>
                    <th class="colUser">Benutzer</th>
                </tr>
            </thead>
            <tbody>
                <groupdetails v-for="(group, index) in groups" :key="index" :group="group" :api="api + '/' + group.name" v-on:deleteGroup="deleteGroup" v-on:showError="showError"></groupdetails>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<style>
table.grouplist div.newgroup {
    margin: 0px 0px;
}
table.grouplist .remove:before {
    content: '\2718';
}

table.grouplist .border {
    border: solid 0.5px grey;
    border-radius: 5px;
    margin: 4px 2px 4px 2px;
    padding: 2px;
}

table.grouplist th {
    border-bottom: solid 0.5px lightgray;
    font-weight: bold;
    color: gray;
}
table.grouplist tfoot td {
    border-top: solid 0.5px lightgray;
}
table.grouplist .colIcon {
	padding: 10px 5px 10px 5px;
}
table.grouplist .colName {
	padding: 10px 5px 10px 5px;
}
table.grouplist .colUser {
	padding: 10px 5px 10px 5px;
    width: 100%;
}
</style>

<script>
import axios from 'nextcloud-axios';
import groupdetails from './groupdetails.vue';

export default {
    name: 'grouplist',
    components: {
        groupdetails
    },
    props: {
        orga: String,
        api: String
    },
    data: function() {
        return {
            groups: [],
            link: '',
            newGroupPostfix: '',
            error: '',
        }
    },
    created() {
	// Fetch List of groups
	axios.get(this.api)
	    .then(response => (this.groups = response.data))
	    .catch(error => { this.showError(error); })
    },
    methods: {
        checkInput: function() {
            if (this.newGroupPostfix.trim() == '') {
                this.error = '';
            } else if (!this.newGroupPostfix.match(/^[a-z]+[a-z0-9]*$/)) {
                this.error = 'Es sind nur Kleinbuchstaben und Zahlen erlaubt!';
            } else {
                this.error = '';
            }
        },
        addGroup: function() {
            // Check validity
            if (this.newGroupPostfix.trim() == '') {
                return;
            } else if (!this.newGroupPostfix.match(/^[a-z]+[a-z0-9]*$/)) {
                return;
            }

            // Write to API
            axios.post(this.api, {
                    suffix: this.newGroupPostfix
                    })
                .then(response => {
                    // Add new group to list
                    this.groups.push( response.data );
                    })
                .catch(error => { this.showError(error); })

            // Clear input field
            this.newGroupPostfix = '';
        },
        deleteGroup: function(id) {
            let api = this.api + '/' + this.groups[id].name

            axios.delete(api)
                .then(response => {
                    // Remove group from list
                    this.groups.splice(id, 1);
                    })
                .catch(error => { this.showError(error); })            
        },
        showError: function(error) { 
            this.$emit('showError', error)
        }

    }
}
</script>
