<template>
    <tr>
        <td class="colIcon" v-if="group.fixed == 1">&nbsp;</td>
        <td class="colIcon" v-else>
            <div class="icon-delete" @click="deleteGroup"></div>
        </td>
        <td v-if="group.fixed" class="colName" title="Wird von HiOrg-Server übertragen">{{ group.name }}</td>
        <td v-else class="colName" >{{ group.name }}</td>
        <td class="colUser" >
            <multi-select 
                :options="newUserOptions"
                :selected-options="selectedOptions"
                :is-disabled="group.fixed == 1"
                placeholder="Keine Benutzer zugeteilt"
                @select="onSelect"
                @searchchange="userSearch"
            />
        </td>
        <br>
    </tr>
</template>

<style>
input.search {
    min-height: 1em;
}
i.icon.delete::before {
	content: "\2718";
}
i.icon.dropdown {
    display: none;
}
</style>

<script>
import axios from 'nextcloud-axios';
import { ModelListSelect, MultiSelect } from 'vue-search-select';

export default {
    name: 'groupdetails',
    components: {
        ModelListSelect,
        MultiSelect,
    },
    props: {
        group: Object,
        api: String
    },
    created() {
        for (const key of Object.keys(this.group.users)) {
            this.selectedOptions.push( { 'value': key, 'text': this.group.users[key] } )
        }
    },
    data: function() {
        return {
            newUserOptions: [],
            selectedOptions: [],
        }

    },
    mounted: function() {
//         let api = '/apps/hiorglogin/settings/user';
//         let result = [];

//         axios.get(api, {
//                 params: {
// //                        searchString: this.searchString[index]
//                     searchString: '',
//                 }

//             })
//             .then(response => { 
//                     this.newUserOptions = response.data.map( ( {id, name } ) => ({ 'value': id, 'text': name }) ) 
//                     }
//                 )
//             .catch(error => { console.log('Fehler', error) })
    },
    methods: {
        onSelect (items, lastSelectItem) {
            let request;
            let lastValue = lastSelectItem.value;


            let found = 0;
            items.map( ( {value} ) => { found += ( value == lastValue) } );

            if (found == 0) {
                request = {
                    url: this.api + '/' + lastValue,
                    method: 'DELETE',
                    data: [],
                }
            } else {
                request = {
                    url: this.api,
                    method: 'POST',
                    data: { 
                        newUser: lastValue 
                    },
                }
            }

            axios.request(request)
            .then(response => { 
                    this.selectedOptions = [];
                    for (const key of Object.keys(response.data.users)) {
                        this.selectedOptions.push( { 'value': key, 'text': response.data.users[key] } )
                    }
                }
            )
            .catch(error => { this.showError(error); })

            // Clear list
            this.newUserOptions = [];
        },
        userSearch: function(search) {
            if (search == '') return;

            /*
            if (2 >= search.length) {
                this.newUserOptions = [];
                return;
            }
            */

            let api = '/apps/hiorglogin/settings/user';

            axios.get(api, {
                    params: {
                        searchString: search
                    }

            })
            .then(response => { 
                    this.newUserOptions = response.data.map( ( {id, name } ) => ({ 'value': id, 'text': name }) ) 
                    }
            )
            .catch(error => { this.showError(error); })
        },
        deleteGroup: function() {
                // Let parent do the job
                this.$emit('deleteGroup', this.$vnode.key);
        },
        showError: function(error) { 
            this.$emit('showError', error)
        }
    }
}
</script>
