<template>
    <div id="hiorg_settings">
        <div v-for="(orga, index) in manageable_orgas" :key="index">
            <h2>Hiorg Organisation: {{ orga }}</h2>
            <groupList :orga="orga" :api="api_group + orga" v-on:showError="showError" />
            <folderList :orga="orga" :api="api_folder + orga" v-on:showError="showError" />
            <hr class="thick">
        </div>
    </div>
</template>


<style scoped>
div#hiorg_settings {
    margin: 0px 8px;
}
hr.thick {
    border: solid 2px;
}
</style>


<script>
import groupList from './personal/grouplist.vue';
import folderList from './personal/folderlist.vue';

export default {
        name: 'App',
        components: {
            groupList,
            folderList,
        },
        data: function() {
            return { 
                msg: '',
                /** type Array */
                manageable_orgas: [],
                api_group: '',
                api_folder: '',
            };
        },
        // Get data from document
        created: function() {
            // Where to find data
            const paramsEl = document.getElementById('params');

            // Element hopefully exists
            if (paramsEl !== null) {
                const params =  JSON.parse(paramsEl.dataset.params);

                // Get paramters
                for (var key in params) {
                    if (typeof this[key] !== 'undefined') {
                        this[key] = params[key];
                    }
                }
            } 
        },
        methods: {
            showError: function(error) {
                let errortext = error.response.data.errortext;
                if (errortext == null) {
                    errortext = error;
                } else if (errortext == '') {
                    return;
                }
                OC.Notification.showTemporary('<div style="font-weight:bold;color:red">' + errortext + '<div>', { isHTML: true });
            }
        }
}
</script>

